<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914550410014-rt38r85rmc26iqr9kepe9rfctt263pi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914550410014-rt38r85rmc26iqr9kepe9rfctt263pi2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>914550410014-n46js6jkqkjf1vuc1kn92pe836air34p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6p22stvBDCBkeMooV6_-rLe1G8wbLaUA</string>
	<key>GCM_SENDER_ID</key>
	<string>914550410014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btp</string>
	<key>PROJECT_ID</key>
	<string>lingo-52cac</string>
	<key>STORAGE_BUCKET</key>
	<string>lingo-52cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914550410014:ios:7ea7aeff325a9e3b22570f</string>
</dict>
</plist>